header{
    display: flex;
    margin: 15px;
    margin-bottom: 10px;
    border-bottom: 1px solid #d6d6d8;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    white-space: nowrap;
    border-width: auto;
}

.izq img{
    vertical-align: middle;
    margin: 5px;
}

.clase{
    font-size: x-large;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    color: #5e5d5d;
}

.centro{
    display: flex;
    vertical-align: middle;
    text-align: center;
    margin-left: 8px;
    margin-right: 200px;
}

.texto{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: lighter;
    color: #5e5d5d;
    gap: 30px;
}
.l1:hover{
    display: flex;
    border-bottom: 2px solid #000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #000;
}

.der img{
    margin: 5px;
}
.cuerpo{
    display: flex;
    align-items: center;
}
.cdbanner{
    display: flex;
    justify-content: center;
}

.banner{
    display: flex;
    width: 900px;
    height: 225px;
    border-radius: 10px;
    background-color: #4116a5;
    align-items: flex-end;
    margin-top: 12px;    
}

.nombre{
    display: flex;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    color: #ece1e1;
    margin-left: 15px;
    font-weight: bold;
    align-items: center;
}

.anuncio{
    display: flex;
    flex-wrap: wrap;
    width: 190px;
    height: 150px;
    border-radius: 10px;
    background-color: #ffffff;
    margin-top: 15px;
    margin-left: 232px;
    border:1px solid #d4d4d4;
    font-family: Arial, Helvetica, sans-serif;
}

.upcoming{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #000;
    margin-left: 10px;
    margin-top: 20px;
}

.about{
    display: flex;
    align-items:flex-end;
    flex-direction: row-reverse;
    color: #acacac;
    margin-top: 25px;
    margin-left: 10px; 
}

.viewall{
    display: flex;
    align-items: flex-end;
}

.viewall button{
    display: flex;
    margin-left: 120px;
    border-radius: 5px;
    border: none;
    margin-bottom: 8px;
    margin-right: 5px;
    justify-content: right;
}

.algoclase{
    display: flex;
    justify-content: right;
    margin-right: 120px;
}

.visual{
    display: flex;
    align-items: center;
    width: 670px;
    height: 75px;
    border-radius: 12px;
    border: 1px solid #d4d4d4;
    background-color: #ffffff;
    margin-left: 20px;
    
}

.informacion{
    display: flex;
    align-items: center;
}

.informacion img{
    margin-left: 20px;
}

.comentario{
    margin-left: 12px;
    color: #5e5d5d;
    align-items: center;
}

.public{
    display: grid;
    width: 670px;
    height: 75px;
    border-radius: 12px;
    display: grid;
    background-color: #ffffff;
    margin-right: 452px;
    border:1px solid #d4d4d4;
    margin-left: 448px;
    margin-bottom: 10px;
}
.cuadro{
    display: flex;
    align-items: center;
}

.cuadro img{
    display: block;
    margin-left: 20px;
}

.publicacion{
    display: flex;
    margin-left: 18px;
}
